<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{APP_NAME}}</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    <link rel="icon" href="{%  static 'account/images/fav.ico' %}" sizes="48x48" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a > {{APP_NAME}}</a>
    {% if user.is_authenticated %}

        <a href="{% url 'account:admin_users_list' %}">List Users</a>
        <a href="{% url 'core:feed' %}">New Feed</a>
        <a href="{% url 'account:admin_logout' %}">LOGOUT</a>
    {% else %}
        <a href="{% url 'account:admin_login' %}"><b>LOGIN</b></a>
        <a href="{% url 'account:admin_register' %}"><b>REGISTER</b></a>
    {%endif%}

</div>


<div class="main">
        <div class="toptopnav">
            <a>&#9776;<img onclick="openNav()" src="{% static 'account/images/appicon.png' %}" height="35p"/>{{ view.title }}</a>
            <!--<a href="#home" class="na active">Home</a>-->
            <!--<a href="#news" class="na">News</a>-->
            <!--<a href="#contact" class="na">Contact</a>-->
            <a href="{% url 'account:users_update' user_pk=user.user.id %}" class="right">{{ user.email }} &#9776;</a>

        </div>

        <div class="topnav" id="topnavid">
            <a href="#home" class="na active">News</a>
            <a href="#news" class="na">Finance</a>
            <a href="#contact" class="na">Sports</a>
            <a href="#contact" class="na">Politics</a>
            <a href="#contact" class="na">Entertainment</a>
            <a href="#contact" class="na">Lifestyle</a>
            <a href="#contact" class="na">More...</a>
        </div>

        <div class="footernavbar">
          <a href="#">about</a>
          <a href="#">status</a>
          <a href="#">Keep experimenting</a>
          <a href="#">@pankajsy Github</a>
          <a class="right" id="clock"></a>
        </div>
    {% block content %}
    {% endblock %}

    <center>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-error">
        <h4>Please fix the following errors</h4>
        <ul>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
        {% if form.non_field_errors %}
                {{ form.non_field_errors }}
        {% endif %}
        </div>
        {% endif %}
    </center>

</div>




<script>
    var tabs = document.getElementById("topnavid").getElementsByClassName("na");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("na active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
</script>
<script>
var countdownfunction = setInterval(function() {
    var now = new Date();
    var distance = now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("clock").innerHTML = now

}, 1000);
</script>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>
</body>
</html>