<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{APP_NAME}}</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    <link rel="icon" href="{%  static 'account/images/fav.ico' %}" sizes="48x48" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body background="{% static 'account/images/bg.png' %}">
<div class="sidenav">
    <a href=""><img src="{% static 'account/images/fav.ico' %}" height="25"/> {{APP_NAME}}</a>
    {% if user.is_authenticated %}
        <a>-----------------------------</a>
        <a href="">LOGGED IN: </a>
        <a href="">{{ user.email }}</a>
        <a href="{% url 'account:users_update' user_pk=user.user.id %}">Edit Profile</a>
        <!--<a href="">UUID:{{ user.user.uuid }}</a>-->
        <a>-----------------------------</a>
        <a href="{% url 'account:admin_users_list' %}">List Users</a>
        <a>-----------------------------</a>
        <a href="{% url 'core:feed' %}">New Feed</a>
        <a>-----------------------------</a>
        <a href="{% url 'account:admin_logout' %}">LOGOUT</a>
        <a>-----------------------------</a>
    {% else %}
        <a>-----------------------------</a>
        <a href="{% url 'account:admin_login' %}"><b>LOGIN</b></a>
        <a>-----------------------------</a>
        <a href="{% url 'account:admin_register' %}"><b>REGISTER</b></a>
        <a>-----------------------------</a>
    {%endif%}

</div>


<div class="main">

        <div class="topnav">
          <a> {{ view.title }} >></a>
          <a href="#home" class="active">Home</a>
          <a href="#news" >News</a>
          <a href="#contact">Contact</a>
        </div>

        <div class="footernavbar">
          <a href="#">about</a>
          <a href="#">status</a>
          <a href="#">Keep experimenting</a>
          <a href="#">@pankajsy Github</a>
        </div>
    {% block content %}
    {% endblock %}

    <center>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-error">
        <h4>Please fix the following errors</h4>
        <ul>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
        {% if form.non_field_errors %}
                {{ form.non_field_errors }}
        {% endif %}
        </div>
        {% endif %}
    </center>

</div>


</body>
</html>