{% extends 'account/base.html' %}
{% block content %}
{% load static %}

    <div style="overflow-x:auto;">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}


        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>[ {{ i }} ]<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">[ {{ i }} ]</a></li>
          {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo; next</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>



<script>
    var tabs = document.getElementsByClassName("topnav")[0].getElementsByTagName("A");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace("active", "");
        this.className += "active";
      });
    }
</script>
{% endblock %}
